<div id="overtimeGraphs">
    <button id="switchGenre">Switch Genre</button>
    <div class="row">
        
        <div class="col-sm-3">
            <select id="attribut1">
                <option selected>Time</option>
                <option>Loudness</option>
                <option>Tempo</option>
                <option>Duration</option>
                <option>Hotness</option>
                <option>Familiarity</option>
            </select>
        </div>
        <div class="col-sm-9">
            <div id="attributesPlot" class="plot">
            </div>

            <select id="attribut2">
                <option>Time</option>
                <option selected>Loudness</option>
                <option>Tempo</option>
                <option>Duration</option>
                <option>Hotness</option>
                <option>Familiarity</option>
            </select>

        </div>
    </div>
    <!--
   
    <div id="loudnessTime" class="overTime">
        Loudness
    </div>

    <div id="tempoTime" class="overTime">
        Tempo
    </div>

    <div id="hotnessTime" class="overTime">
        Hotness
    </div>
     -->
</div>

<script src="js/overtime.js"></script>